:root {
  --cor-muito-escura: rgb(51, 47, 44);
  --cor-escura: rgb(102, 94, 88);
  --cor-pouco-escura: rgb(153, 141, 132);
  --cor: rgb(204, 187, 176);
  --cor-pouco-clara: rgb(217, 204, 196);
  --cor-clara: rgb(230, 221, 216);
  --cor-muito-clara: rgb(243, 238, 236);
  --cor-error: rgb(243, 57, 44);
  --cor-success: rgb(51, 187, 44);
  --fonte: serif;
  --margem-grande: 8px 8px 8px 8px;
  --margem-pequena: 4px 4px 4px 4px;
  --padding-texto: 4px 8px 4px 8px;
  --tamanho-da-fonte: 16px;
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--cor);
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

button {
  background-color: var(--cor-muito-escura);
  color: white;
  font-family: var(--fonte);
  font-size: var(--tamanho-da-fonte);
  height: 32px;
  margin: var(--margem-grande);
  padding: var(--padding-texto);
}

button:hover {
  background-color: var(--cor-escura);
}

button:active {
  background-color: var(--cor-pouco-escura);
}

h1 {
  color: black;
  margin: var(--margem-grande);
  padding: var(--margem-grande);
  font-size: 32px;
}

h2 {
  color: black;
  margin: var(--margem-grande);
  padding: var(--margem-grande);
  font-size: 24px;
}

img {
  height: 16px;
  width: auto;
}

input {
  height: 32px;
  margin: var(--margem-pequena);
  width: 128px;
}

label {
  height: 32px;
  margin: var(--padding-texto);
  padding-top: 16px;
  text-align: right;
  width: 128px;
}

p {
  margin: var(--margem-grande);
}

table {
  margin-top: 8px;
}

thead {
  font-weight: bold;
  text-transform: uppercase;
}

thead tr td {
  background-color: var(--cor-clara);
  color: black;
}

tbody tr {
  background-color: white;
  color: black;
}

tbody tr:hover {
  background-color: var(--cor-muito-clara);
}

td {
  font-family: var(--fonte);
  font-size: var(--tamanho-da-fonte);
  margin: var(--margem-pequena);
  padding: var(--padding-texto);
  text-align: center;
}

.centralized-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-error);
  color: white;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 32px);
  min-width: 100vw;
}

.large-button {
  min-width: 128px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--cor-muito-escura);
  height: 32px;
  width: 100%;
}

.menu-item {
  background-color: var(--cor-muito-escura);
  color: white;
  padding: var(--padding-texto);
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--cor-escura);
}

.menu-item:active {
  background-color: var(--cor-pouco-escura);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small-button {
  width: 32px;
}

.string-field {
  height: 32px;
  margin: var(--margem-pequena);
  width: 256px;
}

.sucesso {
  display: flex;
  flex-direction: row;
  background-color: var(--cor-success);
  margin: var(--margem-grande);
  padding: var(--margem-grande);
}

.erro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-error);
  color: white;
  width: 100vw;
  height: 100vh;
}